body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

.app-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

input {
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #ff5722; /* Saffron color */
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.card {
    background: #fff3e0;
    margin-top: 15px;
    padding: 15px;
    border-left: 5px solid #ff5722;
    text-align: left;
    border-radius: 5px;
}

h3 { margin: 0 0 5px 0; color: #333; }
small { color: #666; }
.add-form {
    background: #e8f5e9; /* Light Green background */
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #c8e6c9;
}

textarea {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
}

/* Make inputs have space between them */
.add-form input, .add-form textarea {
    margin-bottom: 10px;
    display: block; /* Puts each input on a new line */
    width: 90%; /* Fits mobile screen better */
    margin-left: auto;
    margin-right: auto;